---

---
<section class="py-8 items-center px-4 bg-[#EEF0F2] rounded-xl flex justify-between w-full">
    <div>
        <h2 class="my-3 text-[30px] text-[#192734] font-bold">You don't need more business management software.</h2>
        <span class="text-[#192734]">ERPNext is the solid foundation.</span>
    </div>
    <a href="/contact" class=" cursor-pointer text-2xl font-semibold text-gray-700" >Talk! > </a>
</section>