---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("hu");
---

<Layout lang="en" title="Accounting">
	<Container>
		<div class=" h-[60vh] flex items-center justify-center">
			<h1 class=" text-3xl">Accounting</h1>
		</div>
	</Container>
</Layout>
