---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import NewsLetter from "@components/EmailFormhu.astro";
changeLanguage("hu");
---

<Layout lang="hu" title="Könyvelés">
	<Container>
		<div class="px-5 pt-10">
      <div class="flex justify-between items-center text-[#192734] dark:text-white h-auto md:flex-row flex-col pb-12 md:pb-1">
				<div class="flex flex-col h-full justify-center basis-3/5">
					<h1 class="text-4xl md:text-5xl leading-none font-semibold">ERPNext magyar könyvelés</h1>
					<p class="text-gray-400 text-xl my-5">Könyvelést támogató megoldások</p>
				</div>
        <div class="mt-10 md:mt-0 basis-1/2 overflow-hidden">
					<img class="w-full" src="/images/erpnextImage.png" alt="" /> 
				</div>
			</div>
			<div class="flex flex-col items-center text-[#192734] dark:text-white">
				<section class="py-8 px-4 md:w-2/3">
					<h2 class="font-bold text-3xl mb-10">“Könyvelni kockás papíron is lehet.”</h2>
					<p class="list-disc text-lg leading-7 space-y-5">
						Tartja az ismeretlen könyvelőtől származó “ősi” közmondás. De ennek ellenére ma már szinten mindenki (általában) valamilyen
						kettős könyvviteli, könyvelő programmal könyveli a gazdasági eseményeket. De a vicces megjegyzés nagyon jól rávilágít arra a
						lényeges pontra, hogy nincsen könyvelőprogramokra vonatkozó előírás, hanem a különböző, pl számviteli rendet érintő
						jogszabályokból lehet csupán azt kiolvasni, hogy magának a könyvelésnek milyen szabályok mentén kell megtörténnie.
					</p>
				</section>
				<section class="py-8 px-4 md:w-2/3">
					<h2 class="font-bold text-3xl mb-10">Akkor miért használnak a könyvelők valamilyen könyvelési programot?</h2>
					<p class="list-disc text-lg leading-7">
						A könyvelő programok rengeteg dolgot automatizálnak és leegyszerűsítenek, ezért szeretik a könyvelők a saját könyvelő
						programukat használni. Jóval kevesebb manuális munkát kell elvégezniük a könyvelőknek és az automatizációknak köszönhetően az
						adatrögzítésből adódó esetleges pontatlanságokat is minimalizálhatják.
					</p>
					<p class="list-disc text-lg leading-7 py-10">
						A másik fontos szempont, hogy nem csupán a gazdasági események rögzítése egyszerűsödik a könyvelő programoknak és azok
						automatizmusainak köszönhetően, hanem az állam részére elkészítendő bevallások előállítását is nagyban megkönnyítik. Nem
						titok, hogy a legtöbb könyvelő program a havi áfabevallásokat az ÁNYK formátumában szinte gombnyomásra el tudja készíteni.
						(Igaz, több kevesebb sikerrel, mert rengeteg speciális eset van amelyeket csak a megfelelően rögzített bizonylatok esetén fog
						jól használni a rendszer, azaz könyvelői tudásra szükség van abban a tekinteten is, hogy a speciális esetek bizonylatait akár
						kézzel felülvizsgálva, szükség esetén javítva könyveljék, hogy utána a bevalláskészítés már lehetőleg hibamentes legyen,
						függetlenül a használt programtól).
					</p>
					<p class="list-disc text-lg leading-7">
						A havi bevallás mellett az éves beszámoló készítésben is nagy segítséget nyújtanak a könyvelő programok, de az az érdekesség,
						hogy ez a funkció sincs minden könyvelő programban megfelelően elkészítve. Ezért is van a piacon több beszámoló készítő
						megoldás, amit párban szoktak a kettős könyvviteli rendszerrel használni a könyvelők.
					</p>
				</section>
				<section class="py-8 px-4 md:w-2/3">
					<h2 class="font-bold text-3xl mb-10 ">Miért érdekes ez az ERPNext szempontjából?</h2>
					<p class="list-disc text-lg leading-7 ">
						A fentiekből látszik, hogy egyrészt kényelmi, másrészt sebesség, harmadrész pontosság miatt választják a könyvelők a saját
						könyvelő programjuk használatát, hiszen a kézi könyveléstől ma már elszoktak és viszonylag kevesek azok, akik tudják, hogy mi
						történik a “motorháztető” alatt és képesek lennének paraméterezni, vagy akár ellenőrizni könyvelőprogramunk működését.
					</p>
					<p class="list-disc text-lg leading-7 py-10 ">
						Ebből következik, hogy az ilyen típusú könyvelők, akik már nem valószínű, hogy képesek lennének kockás papíron könyvelni, más
						rendszerekben való könyvelést nem akarják és nem is tudják megoldani, vagy jellemzően értelmezhetetlen extra díjat kérnének
						érte, pedig valójában az ő munkájuk csökkenne, tehát kedvezményre lennénk jogosultak.
					</p>
					<p class="list-disc text-lg leading-7 ">
						Ott van azonban a szakma azon része, akiknek teljesen mindegy, hogy milyen program elé kerülnek, mert magasabb tudással, más
						szempontból tekintenek a könyvelésre. Ők a saját munkájuk könnyítése érdekében további automatizációkat és paraméterezéseket
						is képesek elvégezni a programok mélyebb szintű ismerete nélkül.
					</p>
				</section>
				<section class="py-8 px-4 md:w-2/3">
					<h2 class="font-bold text-3xl mb-10 ">Hogyan használható az ERPNext magyar könyvelésre?</h2>
					<p class="list-disc text-lg leading-7 pb-10 ">
						A fentiekből következik, hogy több út is van az ERPNext magyar használatára. ERP rendszerek használata esetén az alábbi
						megoldásokkal szoktunk találkozni:
					</p>
					<ul class="list-decimal ml-10 space-y-5 ">
						<li>
							Kettős könyvelés. De nem abban az értelemben. Hívjuk inkább párhuzamos könyvelésnek. Ilyenkor hiába vannak a gazdasági
							események, akár automatikusan könyvelvei az ERPNext rendszerben, például egy adminisztrátor által, a hivatalos könyvelő
							nem nyúl a rendszerhez, esetleg jobb esetben onnan vesz át adatokat a sajátjába. De a lényeg, hogy mindent ő is lekönyvel
							a saját rendszerébe. Nem kell mondanunk, hogy ez milyen kontraproduktív. Főleg annak ismeretében, hogy például a beszámoló
							készítéshez még egy harmadik programot fog használni.
						</li>
						<li>
							A másik út, hogy minden tranzakció az ERPNextbe kerül könyvelésre, akár automatikusan, és a könyvelő is ide könyvel,
							illetve ellenőrzi és jóváhagyja a nem általa könyvelt tételeket. Továbbá az ERPNext-ből kerülnek elállításra azok a nyers
							adatok, amelyek alapján az állam számára a bevallásokat elő lehet állítani, azaz az ANYK-ban a megfelelő bevallásokat
							kézzel tölti ki a könyvelő.
						</li>
						<li>
							Cégmérettől, cégformától, a cégre vonatkozó előírásoktól függően dől el, hogy milyen bevallásokra van szükség, így az is
							előfordulhat, hogy az ERPNext képes lehet az adóhatóság számára szükséges bevallás elkészítésére, bár az ANYK formátumban
							történő exportálás az bizonyára egyedi fejlesztést jelent. De idővel akár az összes bevallás elkészíthető lehet az
							ERPNext-ből.
						</li>
						<li>
							A fentiek ismeretében nekünk a legoptimálisabb megoldásnak azonban az az út tűnik, amikor a könyvelés az ERPNext-ben
							történik. Mivel akkor is lehet külső szoftver használatára szükség ha a könyvelő csak a saját szoftverét használja, vagy
							párhuzamosan könyvel a saját szoftverébe, így az ERPNext mellett a bevallásokat és beszámolót az ERPNext exportját
							feldolgozni képes külső szoftverrel történő elkészítése az ajánlott.
						</li>
					</ul>
				</section>

				<section class="py-8 px-4 md:w-2/3">
					<h2 class="font-bold text-3xl mb-10 ">Mik az előnyei az ERPNext-ben való könyvelésnek?</h2>
					<p class="list-disc text-lg leading-7 space-y-5 ">
						Single source of truth - azaz mindenki ugyan onnan tájékozódik, mindenki ugyan azt látja. (persze a megfelelő jogosultsággal).
						Egy felületet kell csak megtanulni, ami az ERPNext esetében elég intuitív. Nincs dupla munka, a legtöbb dolog automatizálható,
						hiszen például a kimenő számláink automatikusan könyvelésre kerülnek. Ahogy a bejövő számláinkat is elsősorban az ERPNext-nek
						kell kezelnie, hiszen akkor látjuk azok fizetési státuszát például. Amit akár bankszinkronizációval is egyszerűsíthetünk.
					</p>
				</section>

				<section class="py-8 px-4 md:w-2/3">
					<h2 class="font-bold text-3xl mb-10 ">Oké, de hogyan készülnek akkor a bevallások és a beszámoló?</h2>
					<p class="list-disc text-lg leading-7 space-y-5 ">
						A magyar ERPNext és Frappe közösség folyamatosan dolgozik az ERPNext lokalizálásán, így idővel a legideálisabb 3. pontban
						említett megoldás elérésére törekszünk, de addig is az ERPNext könyvelésre történő használata a külső Excel alapú bevallás és
						beszámoló készítő szoftverekkel a legideálisabb. Amelyeken kívül további magyar könyveléshez kapcsolódó, könyvelési feladatot
						egyszerűsítő Excel szoftverek érhetőek el, amelyekbe az adatokat az ERPNext szolgáltatja.
					</p>
				</section>
			</div>
			<section id="contact-form-2">
				<NewsLetter />
			</section>
		</div>
	</Container>
</Layout>
