---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Paddle checkout page" lang="en">
  <Container>
    <p>Page from paddle</p>
  </Container>
</Layout>
