---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("hu");
---

<Layout lang="hu" title="ERPnext">
	<Container>
		<div class=" py-20">
			<h1 class=" py-20 font-semibold text-4xl">Minden termék</h1>
			<div>
				<div class="gap-10 flex flex-col">
					<a
						class="inline-block cursor-pointer hover:shadow-md duration-200"
						href="https://www.monolithon.com/szoftverlicenc/excel/komplett-%C3%A1fa-bevall%C3%A1s-2365-m-lapokkal-aeai9">
						<div class="flex">
							<div class="w-[12vw]">
								<img src="/images/excel1.png" alt="" />
							</div>
							<div class=" justify-center pl-5 flex flex-col text-sm py-3">
								<h4 class="text-lg">Komplett ÁFA BEVALLÁS - 2365 M lapokkal</h4>
								<span class=" text-gray-700">Excel | Termék kód: Komplett ÁFA BEVALLÁS - 2365 M lapokkal</span>
								<span class="pt-10">1 adóévre korlátlan cégre</span>
								<span class="pt-2 inline-block text-gray-600">100 000,00 Ft</span>
							</div>
						</div>
					</a>
					<a
						class="inline-block cursor-pointer hover:shadow-md duration-200"
						href="https://www.monolithon.com/szoftverlicenc/excel/a60-k%C3%B6z%C3%B6ss%C3%A9gi-nyilatkozat-23a60-lem67">
						<div class="flex">
							<div class="w-[12vw]">
								<img src="/images/excel2.png" alt="" />
							</div>
							<div class=" justify-center pl-5 flex flex-col text-sm py-3">
								<h4>A60 KÖZÖSSÉGI NYILATKOZAT - 23A60</h4>
								<span>Excel | Termék kód: A60 KÖZÖSSÉGI NYILATKOZAT - 23A60</span>
								<span>1 adóévre korlátlan cégre</span>
								<span class="pt-2 inline-block text-gray-600">Excel</span>
							</div>
						</div>
					</a>
					<a
						class="inline-block cursor-pointer hover:shadow-md duration-200"
						href="https://www.monolithon.com/szoftverlicenc/excel/komplett-besz%C3%A1mol%C3%B3-k%C3%A9sz%C3%ADt%C5%91-kieg%C3%A9sz%C3%ADt%C5%91-mell%C3%A9klettel-cfp8x">
						<div class="flex">
							<div class="w-[12vw]">
								<img src="/images/excel3.png" alt="" />
							</div>
							<div class=" justify-center pl-5 flex flex-col text-sm py-3">
								<h4>Komplett BESZÁMOLÓ készítő, kiegészítő melléklette</h4>
								<span>Excel | Termék kód: Komplett BESZÁMOLÓ készítő, kiegészítő melléklettel</span>
								<span>1 adóévre korlátlan cégre</span>
								<span class="pt-2 inline-block text-gray-600">Excel</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</Container>
</Layout>
