---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import NewsLetter from "@components/EmailFormhu.astro";
import Link from "@components/ui/link.astro";
changeLanguage("hu");
---

<Layout lang="hu" title="ERPNext tárhely és üzemeltetés ">
	<Container>
		<div class="px-5 pt-10">

      <div class="flex justify-between items-center text-[#192734] dark:text-white h-auto md:flex-row flex-col pb-12 md:pb-1">
				<div class="flex flex-col h-full justify-center basis-3/5">
					<h1 class="text-4xl md:text-5xl leading-none font-semibold">ERPNext tárhely és üzemeltetés</h1>
					<h2 class="text-xl text-[#192734] dark:text-white my-4">ERPNext tárhely a felhőben.</h2>
				<div>
					<Link href="/hu/kapcsolat">
						Beszéljünk!
					</Link>
				</div>
				</div>
        <div class="mt-10 md:mt-0 basis-1/2 overflow-hidden">
					<img class="w-full" src="/images/erpnext-hosting.png" alt="" />
				</div>
			</div>

			<div class="flex flex-col items-center">
				<section class="py-8 px-4 md:w-2/3 text-[#192734] dark:text-white">
					<h2 class="font-bold text-3xl mb-10">Kényelmes és egyszerű ERPNext tárhely és üzemeltetési támogatás</h2>
					<p class="list-disc text-[17px] leading-7 space-y-5]">
						Az ERPNext üzemeltetése szakértelem mellett speciális technikai feltételeket is megkíván. Több éves ERPNext használat alatt sok
						partnerrel való együttműködés után megtaláltuk azt az ERPNext partnert, akit szívesen ajánlunk. Az ERPNext osztott tárhelyen nem
						üzemeltethető, a menedzselt VPS és szerver szolgáltatások pedig jellemzően magasabb árkategóriába tartoznak. Ezért örömmel
						mutatjuk be az ERPNext felhőszolgáltatót, amelyen a monolithon.com, a magyar ERPNext népszerűsítő oldal is fut.
						<br><br>
						Az ERPNext fejlesztői által fejlesztett, üzemeltetett és optimalizált platform a Frappe Cloud szerintünk a legjobb ERPNext hoszting szolgáltató, ezért ajánljuk és használjuk. 	
				</section>

				<section id="contact-form-2">
					<NewsLetter />
				  </section>
			</div>
		</div>
	</Container>
</Layout>