---
import Layout from "../../../../layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await Astro.glob("../../../../content/blog/hu/*.md");

	const extractedFilenamesSet: string[] = []; // Create a new Set to store extracted filenames

	posts.forEach((postTitle) => {
		const startIndex = postTitle.file.lastIndexOf("/") + 1; // Find the last occurrence of '/'
		const endIndex = postTitle.file.lastIndexOf("."); // Find the last occurrence of '.'
		const filename = postTitle.file.substring(startIndex, endIndex);

		extractedFilenamesSet.push(filename); // Add the extracted filename to the Set
	});
	return extractedFilenamesSet.map((title) => ({
		params: {
			blog: title,
		},
		props:{
			title:title
		}
	}));
}
const { title } = Astro.props;
// return Astro.redirect(`/hu/${title}`)
---
<Layout title="301" lang="hu">
	<head>
		<meta http-equiv="refresh" content={ `0; url=/hu/${ title }` } />
	</head>
	<section class="flex items-center h-full p-16">
		<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
		  <div class="max-w-md text-center">
			<h2 class="mb-8 font-bold text-9xl">
			  <span class="sr-only">Error</span>
			  <span class="text-primary">301</span>
			</h2>
			<p class="text-3xl font-semibold md:text-3xl">Oops! You've been redirected.</p>
			<p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">The content you were looking for has been moved permanently to a new location.</p>
			<a rel="noopener noreferrer" href={`/hu/${title}`} class="btn ml-4 text-[#50A6F2] font-semibold">Visit New Location</a>
		  </div>
		</div>
	  </section>
  </Layout>
