---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import LetsTalk from "@components/LetsTalk.astro";
import Link from "@components/ui/link.astro";

changeLanguage("en");
---

<Layout lang="en" title="ERPnext">
  <Container>
    <div class="px-5 dark:bg-stone-900">
      <div class="flex justify-between items-center h-[70vh]">
        <div class="flex flex-col h-full justify-center">
          <h1 class="text-[60px] leading-none font-semibold text-[#192734] dark:text-white">Monolithon is the solid foundation.</h1>
          <h2 class="text-xl text-gray-500 my-4 dark:text-white">ERPNext and Frappe in English.</h2>
          <div>
            <Link href="/contact/" style="primary">Let's Talk!</Link>
          </div>
        </div>
        <div>
          <img class="w-[40vw]" src="/images/erpnextImage.png" alt="" />
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center dark:bg-stone-900">
      <section class="py-8 px-4 md:w-[45vw]">
        <h2 class="font-bold text-3xl mb-10 text-[#192734] dark:text-white">ERPNext is the only truly free and open source, complete ERP</h2>
        <ul class="list-disc md:ml-10 space-y-5 dark:text-white text-[#192734]">
          <li>
            If you are looking for ERP, then you are in the right place, because on these pages we will soon introduce you to ERPNext in detail.
          </li>
          <li>
            If you're shaken out by the cold, you're in luck because with ERPNext you've found modern software that doesn't look like the bad memory
            of old ERP systems.
          </li>
          <li>
            If you don't know what ERP is, ERPNext is your point for Next, which suggests that it is one of the most modern in business software.
          </li>
        </ul>
      </section>

      <section class="py-8 px-4 w-[45vw]">
        <h2 class="font-bold text-3xl mb-10 text-[#192734] dark:text-white">ERPNext is the only truly free and open source, complete ERP</h2>
        <p class="list-disc text-[17px] leading-7 space-y-5 dark:text-white text-[#192734]">
          ERPNext is basically a business software that makes the everyday life of a business easier and transparent. But - just to highlight one
          function - it can even be used to manage several companies at once, where the company can even be a person. Thus, transactions between
          different structures can be easily tracked using the system. For example, executive wages are income as individuals, but costs on the
          company's side. In this way, personal and corporate finances and their interconnection become transparent. But another good example of
          personal use is the tracking and managing daily, occasional, recurring project tasks and tasks. (which may also have an income or
          expenditure side). In addition to business use, it is also essential for personal use to manage documents related to finances or tasks,
          which is also easy to do in the ERPNext system. Some problems in all areas of life for which ERPNext offers a simple solution. The areas
          covered by other ERPNext and their operation are continuously published on the Hungarian ERPNext website, here at monolithon.com
        </p>
      </section>
    </div>
    <LetsTalk />
  </Container>
</Layout>
