---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("en");
---

<Layout lang="en" title="Implementation">
	<Container>
		<div class="py-20 dark:bg-stone-900">
			<h1 class="md:text-[60px] mb-10 text-4xl font-semibold dark:text-white text-[#1F2634]">ERPNext & Frappe Hosting</h1>
			<p class="md:text-[40px] text-2xl font-semibold dark:text-white text-[#1F2634]">ERPNext hosting in the Cloud</p>
			<div>
				<img src="/images/frappecloud-banner.jpg" alt="" />
			</div>
			<div>
				<p class="text-lg mt-20 dark:text-white text-[#1F2634]">
					ERPNext hosting requires expertise and specific technical conditions. After years of collaboration with various partners,
					we have found an ERPNext provider we happily recommend. ERPNext cannot be hosted on shared hosting, and managed VPS and server
					services usually belong to higher price categories. Therefore, we are pleased to introduce the ERPNext cloud service, where
					monolithon.com, the popular Hungarian ERPNext promotion site, is also hosted.
					<span class="inline-block py-10">
						The Frappe Cloud, developed, operated, and optimized by ERPNext developers, is, in our opinion, the best ERPNext hosting
						service, and that's why we recommend and use it:
					</span>
					Details and registration: <a href="https://frappecloud.com/" target="_blank" class="text-[#50A6F2]">https://frappecloud.com</a>
				</p>
			</div>
		</div>
	</Container>
</Layout>
