---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import NewsLetter from "@components/newsLetter.astro";
changeLanguage("en");
---

<Layout lang="en" title="n8n ">
	<Container>
		<div class="px-5">
			<div class="flex justify-between items-center text-[#192734] dark:text-white h-[70vh]">
				<div class="flex flex-col h-full justify-center">
					<h1 class="text-[60px] leading-none font-semibold">n8n the missing piece.</h1>
					<h2 class="text-xl text-[#192734] dark:text-white my-4">Be up to date on everything.</h2>
					<a href="/contact">
						<button class="md:px-3 md:py-2 leading-6 bg-[#2490EF] rounded-lg text-white w-32 h-12 text-xl">Let's talk!</button>
					</a>
				</div>
				<div>
					<img class="w-[40vw]" src="/n8n-zapier-make-integromat.jpg" alt="" />
				</div>
			</div>
<div class="flex flex-col items-center">
    <section class="py-8 px-4 md:w-[45vw] text-[#192734] dark:text-white">
        <h2 class="font-bold text-3xl mb-10">Are there still repetitive, boring tasks?</h2>
        <p class="list-disc text-[17px] leading-7 space-y-5]">
            Anyone familiar with n8n automation software, or its similar predecessors like Zapier, Make (Integromat), knows that even when using the best integrated software, such as ERPNext or Odoo, there are often occasions when you need to use other software, apps, or websites alongside these systems.
            </br></br>
            In such cases, you often need data from your own system or have to perform repetitive tasks.
            </br></br>
            n8n can be a great help in these situations because it natively connects to more than 477 software and services, including ERPNext and Odoo. So, if you want to extract data from these systems, write data into them, or synchronize them with other systems, you can easily do so without starting by writing an API connector. Instead, you can connect right away with the appropriate permissions. Plus, since you can host it yourself, it's a good solution from a data protection perspective when moving or storing data.
        </p>
    </section>

    <section class="py-8 px-4 md:w-[45vw] text-[#192734] dark:text-white">
        <h2 class="font-bold text-3xl mb-10">Missing features in your familiar software?</h2>
        <p class="list-disc text-[17px] leading-7 space-y-5]">
            Despite considering the use of what we consider the ideal back-end system, such as ERPNext or Odoo, and keeping VueStoreFront headless or static websites with no synchronization as the best solution in most cases, there are situations where we need synchronization. This is especially true when the other system with which we need to exchange data is not our own. In such cases, synchronization is necessary if we don't want to manually copy data, which is the most expensive and risky solution.
            </br></br>
            For example, while ERPNext can natively sync with Google Calendar, it doesn't cover everything. Therefore, we can use n8n to create Google Calendar entries from ERPNext doctypes that wouldn't be possible by default. There are many possibilities, including using it for sending emails, but it's essential to be aware of the system's limitations. We have even created a complex "web page scraper" application with it, but it may be more practical to use other solutions for such cases.
        </p>
    </section>
    <section class="py-8 px-4 md:w-[45vw] text-[#192734] dark:text-white">
        <h2 class="font-bold text-3xl mb-10">Automation and Prototyping</h2>
        <p class="list-disc text-[17px] leading-7 space-y-5]">
            As evident from the examples and the general overview, n8n is suitable for many tasks in automation. Despite its limitations, it can handle robust business processes because it is a reliable, scalable, and open-source* (fair code license) software. However, sometimes we use it for prototyping and testing due to the possibility of quick development (low code, no code). If it proves successful, we then create a solution that is easier and faster to build based on our experience.
        </p>
    </section>
    <section class="py-8 px-4 md:w-[45vw] text-[#192734] dark:text-white">
        <h2 class="font-bold text-3xl mb-10">Yes, it can be integrated with ChatGPT out of the box</h2>
        <p class="list-disc text-[17px] leading-7 space-y-5]">
            Using this trick, we can channel the services offered by AI in a way that would be much more cumbersome with other methods. For those unfamiliar with n8n's capabilities, it's a good idea to first explore the available integrations and instantly (re)usable "workflows" because they offer many ideas about what it can be used for. It can simplify our business processes, free us from repetitive, time-consuming tasks, and this applies not only to administrative tasks but also to sales and marketing processes (e.g., Mautic, Twitter, Chatbot integrations), project management, and even operations.
        </p>
    </section>
    <section id="contact-form-2">
        <NewsLetter />
    </section>
</div>
		</div>
	</Container>
</Layout>
