---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("en");
---

<Layout lang="en" title="Refund Policy">
	<Container class="max-w-3xl mx-auto px-4 py-8">
		<div class="text-[#192734] dark:text-white"></div>
<h1 class="text-3xl font-bold mb-4">Cancellation and Refund Policy</h1>

<h2 class="text-2xl font-bold mb-4">Account Cancellation</h2>
<p class="mb-6">We follow a reliable refund policy to let our customers feel privileged about their association with us. Please read the guidelines governing the refund policy.</p>

<p class="mb-6">If you wish to cancel your account, notify us at least 15 days before the end of your term (rising a support ticket at support.monolithon.com).</p>

<p class="mb-6">Your subscription gets renewed automatically on the 1st of every month/quarter/year.</p>

<p class="mb-6">You can upgrade or downgrade the level of our services at any time during your usage; however, Monolithon does not refund any fees in that case.</p>

<p class="mb-6">If you stop using our services in between the term, we will not refund you the fees paid by you for the remaining term.</p>

<p class="mb-6">We reserve the right to modify or terminate the Monolithon service(s) for any reason, without notice at any time.</p>

<p class="mb-6"><strong>Fraud:</strong> Without limiting any other remedies, Monolithon may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or investigation, or otherwise, forcefully removed our branding) have engaged in fraudulent activity in connection with the services offered by us.</p>

<p class="mb-6"><strong>Note:</strong> No refunds are offered, even if a plan is canceled mid-month.</p>

<h2 class="text-2xl font-bold mb-4">Monthly Billing, Cancellation, and Refund Policies</h2>
<p class="mb-6">Monolithon charges and collects in advance for the use of the SaaS service. All services rendered are non-refundable. Once a customer selects a subscription plan and provides billing information, Monolithon will calculate a pro-rated amount with the first payment due on signing.</p>

<p class="mb-6">All subscriptions monthly, quarterly, and yearly renew automatically on their due renewal date according to the date of purchase until officially canceled in writing. Customers may cancel anytime by raising a ticket at support.monolithon.com</a></p>

<p class="mb-6">Customers will receive an email from Monolithon confirming that their subscription to the SaaS service has been canceled.</p>

<p class="mb-6"><strong>Important:</strong> No refunds or credits for partial months of service will be refunded to a customer upon cancellation.</p>

<p class="mb-6">Customers have the ability to upgrade or downgrade their subscription plan for the SaaS services at any time. For any kind of upgrade or downgrade in subscription, the customer has to rise a support ticket at support.monolithon.com.</p>

<p class="mb-6">The chosen method of billing will automatically be charged the new subscription rate on the next billing cycle.</p>

<h2 class="text-2xl font-bold mb-4">Contact Us</h2>
<p class="mb-6">If you have any questions about this Policy, You can reach us:</p>

<ul class="list-disc list-inside mb-6">
  <li><strong>By visiting this page on our website: </strong> <a href="https://support.monolithon.com/" target="_blank">https://support.monolithon.com</a></li>
</ul>

<h2 class="text-2xl font-bold mb-4">Links to Other Websites</h2>
<p class="mb-6">Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party’s site. We strongly advise You to review the Privacy Policy of every site You visit. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

<h2 class="text-2xl font-bold mb-4">Changes to this Privacy Policy</h2>
<p class="mb-6">We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page. We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the “Last updated” date at the top of this Privacy Policy.</p>

<p class="mb-6">You are

 advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

<h2 class="text-2xl font-bold mb-4">Contact Us</h2>
<p class="mb-6">If you have any questions about this Privacy Policy, You can contact us:</p>

<ul class="list-disc list-inside mb-6">
	<li><strong>By visiting this page on our website: </strong> <a href="https://support.monolithon.com/" target="_blank">https://support.monolithon.com</a></li>
</ul>
		
			
	</div>
	</Container>
</Layout>
