---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("en");
---

<Layout lang="en" title="Üzemeltetés">
	<Container>
        <div class=" h-screen">
            <iframe src="https://status.monolithon.com/ " width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </div>
	</Container>
</Layout>
