---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import NewsLetter from "@components/EmailForm.astro";
import Link from "@components/ui/link.astro";
changeLanguage("en");
---

<Layout lang="en" title="VueStoreFront Headless eCommerce Store for Speed and Independence">
	<Container>
		<div class="px-5 pt-10">
      <div class="flex justify-between items-center text-[#192734] dark:text-white h-auto md:flex-row flex-col pb-12 md:pb-1">
				<div class="flex flex-col h-full justify-center basis-3/5">
					<h1 class="text-4xl md:text-5xl leading-none font-semibold hyphens-auto">VueStore&shy;Front Headless Store</h1>
					<h2 class="text-xl text-[#192734] dark:text-white my-4">For Speed and Independence.</h2>
					<div>
						<Link href="/contact">
							Let's talk!
						</Link>
					</div>
				</div>
        <div class="mt-10 md:mt-0 basis-[38%] overflow-hidden">
					<img class="w-full" src="/images/vuestorefront-headless-ecommerce.jpg" alt="" />
				</div>
			</div>
			<div class="flex flex-col items-center">
				<section class="py-8 px-4 md:w-2/3 text-[#192734] dark:text-white">
					<h2 class="font-bold text-3xl mb-10">The Four Nines</h2>
					<p class="list-disc text-[17px] leading-7 space-y-5">
						In the "gold trade," the best gold is the four nines, which means 99.99% pure gold. <br><br> Similar standards apply to websites, as shown by Google Pagespeed Insight (a speed measurement tool based on Lighthouse software) with 4 values of 90%. This is practically gold because very few websites achieve this value today, especially for mobile versions. Google ranks these lightning-fast sites at the top of search results, and users prefer to use these quick-loading pages, resulting in increased traffic and conversions. Ultimately, this means more revenue.
					</p>
				</section>

				<section class="py-8 px-4 md:w-2/3 text-[#192734] dark:text-white">
					<h2 class="font-bold text-3xl mb-10">How to Make Your Online Store Lightning Fast on Mobile?</h2>
					<p class="list-disc text-[17px] leading-7 space-y-5">
						The key is the latest technology, but not in the way most salespeople always want to sell something new that you have to replace over and over again. This is different. We could say that a paradigm shift has occurred, albeit the umpteenth one. Thanks to mobile app development, it has become clear that fast and simple software can be written despite the continuous increase in computing power and the growing speed of our devices. VueStoreFront was born, integrating the advantages of Vue.js, Nuxt.js, and Tailwind CSS while delivering all the necessary elements for the online store interface (such as product pages, shopping cart buttons, etc.) in an immediately usable or easily modifiable form. It also ensures the system and its components can be updated easily. <br><br>
						In addition to getting almost everything you need ready to use on the finished site, the technology ensures that building new pages or fulfilling unique requests is straightforward in this design system. There's no need to learn any custom software, as you would for an Odoo e-commerce online store, ERPNext, or the Shopify system, for example. This also means that more developer capacity is available. <br><br>
						"Is this just like AMP, fast but lacking full functionality?" Fortunately not. This solution allows you to create not only fully functional web pages and web-based lightning-fast apps that can be downloaded, even offline, instead of native mobile applications. So there's no longer a difference; you don't need to design and maintain multiple interfaces. <br><br>
						Moreover, it eliminates the inconvenience of managing multiple interfaces, as it allows for very simple creation of different interfaces (e.g., different designs). Since the foundation is the same, it's easy to create brand pages or separate B2B and B2C pages with it.
					</p>
				</section>
				<section class="py-8 px-4 md:w-2/3 text-[#192734] dark:text-white">
					<h2 class="font-bold text-3xl mb-10">Okay, a Fast Online Store, but What Is Headless?</h2>
					<p class="list-disc text-[17px] leading-7 space-y-5">
						As described earlier, VueStoreFront, as its name suggests, is the fast interface that visitors encounter. The data filling these interfaces, such as products and prices, depends on the backend system. This is where VueStoreFront and headless truly shine because VueStoreFront can be integrated with various backend systems. <br><br>
						Many existing solutions can be integrated with many other solutions. The big difference here is that it's not about synchronization, which has many drawbacks. Instead, it's about having a single "truth" located in the backend system, but the data there can be very freely "displayed" using VueStoreFront. The term "Headless" means that there must be a Head, which contains the data. By not having its own "database" and not needing to synchronize, changes can happen very quickly without stopping operations (e.g., sales). <br><br>
						This leads to another advantage: it's much easier to secure the backend system and can be cost-effective to schedule updates because VueStoreFront headlessly separates all customer traffic from the backend system. <br><br>
						Not only has it eliminated the difficulties of updates, but also, thanks to this, you can choose the best backend system for you. It no longer has to work as an online store; this way, you get the most functionality, stability, security, and speed, cost-effectively, with the opportunity for simple scalability, which would otherwise be very expensive or technically impossible using the traditional approach.
					</p>
				</section>
				<section class="py-8 px-4 md:w-2/3 text-[#192734] dark:text-white">
					<h2 class="font-bold text-3xl mb-10">The Backend System</h2>
					<p class="list-disc text-[17px] leading-7 space-y-5">
						Currently, we recommend Odoo as the backend system for VueStoreFront, but we are expected to have a solution for ERPNext as well. It is foreseeable that for those who have outgrown Odoo's e-commerce solution or have not started with it due to its limited functionality, or those who need to synchronize with other existing e-commerce systems, this is the simplest and fastest way to streamline processes and enable unlimited expansion. Conversely, if someone wishes to replace only the user interface of their current solution, since, for example, Shopify offers its own headless solution or the VuestoreFront is also compatible with Shopify, acceleration is also available, perhaps the easiest way since business processes remain unchanged. In a second step, the previous backend system can be
replaced with an open-source solution, as it is not worth maintaining another online store alongside one, especially when high-level functionality is missing from the other ERP systems such as warehousing, accounting, project management, customer service, etc., which will be needed sooner or later.<br><br>
 And yes, VueStoreFront Headless solution is a free an open-source software. 
					</p>
				</section>
				<section id="contact-form-2">
					<NewsLetter />
				</section>
			</div>
		</div>
	</Container>
</Layout>