---
import Button from "@components/ui/button.astro";
import { t } from "i18next";
import Link from "./ui/link.astro";
---

<div class="mx-auto max-w-3xl mt-4 dark:text-white">
  <span class="text-lg">
    Felmerült valamilyen kérdésed? <Link style="underline"  href="/hu/kapcsolat">Beszéljünk!</Link>
  </span>
</div>
<div class="mx-auto grid max-w-5xl mt-4 md:mt-12 grid-cols-1 gap-10 px-6 lg:grid-cols-12 lg:gap-8 lg:px-8 border shadow-md p-5 rounded-lg">
  <div class="max-w-xl tracking-tight text-gray-900 dark:text-gray-200 lg:col-span-7">
    <h3 class="sm:block lg:inline xl:block text-xl sm:text-2xl">
      Tudd meg <b>az iparág legféltetebb titkait,</b> amit a társult partnerek soha nem osztanának meg veled.
    </h3>
  </div>
  <form
    class="w-full max-w-md lg:col-span-5 lg:pt-2"
    autocomplete="false"
    role="form"
    method="post"
    action="https://asset.monolithon.com/form/submit?formId=4"
    id="mauticform_leadmagnethu"
    data-mautic-form="leadmagnethu"
    enctype="multipart/form-data">
    <div class="mauticform-error" id="mauticform_leadmagnethu_error"></div>
    <div class="mauticform-message" id="mauticform_leadmagnethu_message"></div>
    <div class="flex gap-x-4">
      <label id="mauticform_label_leadmagnethu_email_address" for="mauticform_input_leadmagnethu_email_address" class="sr-only mauticform-label">
        {t("newsletter.label_text")}
      </label>
      <input
        id="mauticform_input_leadmagnethu_email_address"
        name="mauticform[email_address]"
        required
        placeholder={t("newsletter.input_placeholder")}
        value=""
        class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 dark:text-gray-100 dark:bg-stone-950 shadow-sm ring-1 ring-inset ring-gray-300 dark:placeholder:text-gray-100 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        type="email"
      />
      <Button type="submit" name="mauticform[submit]" id="mauticform_input_leadmagnethu_submit" value="">
        {t("newsletter.button_text")}
      </Button>
    </div>
    <input type="hidden" name="mauticform[formId]" id="mauticform_leadmagnethu_id" value="4" />
    <input type="hidden" name="mauticform[return]" id="mauticform_leadmagnethu_return" value="" />
    <input type="hidden" name="mauticform[formName]" id="mauticform_leadmagnethu_name" value="leadmagnethu" />
  </form>
</div>
