---
import Sectionhead from "@components/sectionhead.astro";
import MainPosts from "@components/MainPosts";
import NewsLetter from "@components/newsLetter.astro";
const { page } = Astro.props;
---

<div class="mx-auto w-full max-w-3xl space-y-4 pt-10">
  <div class="flex justify-start">
    <div class="flex w-11/12">
      <img class="w-10 h-10 rounded-full border-gray-300 border mr-2 shadow" src="monolithon-fav.png" alt="monolithon icon" />
      <div class="relative max-w-2xl rounded-xl rounded-tl-none bg-gray-200 px-4 py-2">
        <span class="text-sm font-medium text-heading">
          Gyakran utazom üzleti ügyben. Tegnap három bőröndöt kellett feladnom, amikor ezt mondtam:<br />"Szeretném, ha ez a bőrönd New Orleansba, ez Seattle-be, a harmadik pedig Chicagóba menne."<br />A reptéri munkatárs a szemét forgatta és közölte:
          </span>
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <div class="flex w-11/12 flex-row-reverse">
      <div class="relative max-w-xl rounded-xl rounded-tr-none bg-[#CCE7FF] px-4 py-2">
        <span class="text-sm font-medium text-black">Ezt mi nem tudjuk megoldani.</span>
      </div>
    </div>
  </div>
  <div class="flex justify-start">
    <div class="flex w-11/12">
      <img class="w-10 h-10 rounded-full border-gray-300 border mr-2 shadow" src="/monolithon-fav.png" alt="monolithon icon" />
      <div class="relative max-w-xl rounded-xl rounded-tl-none bg-gray-200 px-4 py-2">
        <span class="text-sm font-medium text-heading">Azonnal kontráztam:<br /> "Miért? Múlt héten pont ezt csinálták." 😀</span>
      </div>
    </div>
  </div>
</div>
<!-- next we can do it section -->
<section id="action" class="mx-auto w-full dark:text-gray-200 max-w-3xl my-4">
  <h3 class="sm:block lg:inline xl:block text-lg sm:text-lg text-center w-full wordBreak">
    <b>Mi ezt is meg tudjuk oldani</b> - vicc nélkül, mert <u>független szakambereinkkel</u>
    komplex üzleti folyamatok támogatására specializálódtunk, mint a tiéd. 
  </h3>
</section>
<section id="contact-form">
  <NewsLetter />
</section>
<section id="description">
  <article class="mx-auto prose prose-lg dark:prose-invert mt-6 dark:text-gray-200 prose-ul:py-2 max-w-3xl text-black">
    <p>
      Tudjuk, hogy <b>a megfelelő szoftver használatával lehet a leggyrosabban a legjobb és legújabb üzleti gyakorlatokat megtanulni és alkalmazni</b> bármilyen szervezetben (és a személyes életben egyaránt).
    </p>

    <p>Ints búcsút a <b>káosznak, tudás- és erőforráshiánynak!</b></p>
    <p>Ha nyomaszt a <b>stressz, állandó leterheltség, és az időrabló feladatok kergetése,</b> itt az idő, hogy <b>a lényeges dolgokra fókuszálj!</b></p>
    <p>
      Egy rendszer automatizálja és megszervezi az életet, de ezzel nem csupán egy szoftvert kapsz, <b>
        készen kapod a tudást és gyakorlatot amelyek kiemelkedő szakemberek tapasztalatain alapulnak
      </b> anélkül, hogy nekik vaskos fizetést (és adókat!) kellene fizetned hónapról hónapra: 
    </p>
    <ul class="list-disc list-inside">
      <li>Szervezetfejelsztő,</li>
      <li>Értékesítő,</li>
      <li>Projektmenedzser,</li>
      <li>IT és biztonsági szakember,</li>
      <li>Könyvelő és adótanácsadó,</li>
      <li>HR szakember,</li>
      <li>Ügyfél elégedettségi és támogatási szakember,</li>
      <li>Logisztikai szakember,</li>
      <li>Marketingszakember, és</li>
      <li>sok egyéb specialista.</li>
    </ul>

    <p>
      Mert szoftvermegoldásaink még több területet fednek le, mint ezek a szakmák vagy üzleti területek.
    </p>

    <p>
      Nincs tökéletes (szoftver) megoldás, de <b>eszközeinkkel milliókat spórolnak a felhasználók.</b> Extra fejlesztéssel még testreszabottabb megoldásokat is szállítunk,
      de ez olyan esetben nem célszerű, ha a szervezetlenség a meglévő, berögzült vagy adhoc rossz gyakorlatból származik. 
    </p>
    <p>
      You do not have to reinvent the wheel. We use and support many extraordinary, modern, <b>free, and open-source software</b>. Not to mention AI.
    </p>
    <p>Efficient digital solutions are no longer exclusive to multinational giants.</p>
  </article>
</section>
<section id="contact-form-2">
  <NewsLetter />
</section>
<section id="action" class="mx-auto w-full dark:text-gray-200 max-w-3xl my-4">
  <h3 class="sm:block lg:inline xl:block text-lg sm:text-lg text-center w-full wordBreak">
    Our latest blog post on <b>ERPNext, Frappe</b> and more
  </h3>
</section>
<section id="blog">
  <MainPosts next="next" prev="prev" posts={page} client:load />
</section>
