<section class="py-8 items-center px-4 bg-[#EEF0F2] dark:bg-[#020616] rounded-xl flex justify-between w-full">
    <div>
        <h2 class="my-3 text-[30px] dark:text-white text-[#192734] font-bold">Nincs másik szoftverre szüksége.</h2>
        <span class="text-[#192734] dark:text-white">A Monolithon gyorsan szállítja a legjobb megoldást.</span>
    </div>
    <a href="/hu/kapcsolat" class=" dark:text-white cursor-pointer text-2xl font-semibold text-gray-700" >Beszéljünk! </a>
</section>