---
title: ERPNext EU VAT Number Verification
draft: false
author: Admin
tags:
    - news
    - monolithon
    - erpnext
image:
      src: /erpnext-eu-adószám-ellenőrzés.png
      alt: ERPNext
snippet: ERPNext Hungarian invoicing has many parts due to the complexity of the topic. When dealing with EU partners, EU VAT number verification is a crucial step.
publishDate: 2022-10-11 11:39
category:
    - news
---

<p>As I showed in the previous post about the functionality of the ERPNext Hungarian invoicing's connection to the Hungarian National Tax and Customs Administration (NAV), now I will show you how we can easily record and verify EU company data based on the EU VAT number using the VIES system. (Technically, this is an option, but legally, as suppliers, we are obliged to verify our customers). It's not perfect yet because not all member states, like Hungary, provide a separate postal code and city to the VIES system, but in some countries, this data is available, so we are still refining this part. However, similar to the ERPNext Hungarian invoicing's data retrieval from NAV, from now on, the data of EU partners can also be retrieved and verified, reducing the need for additional clicks or manual work and minimizing the possibility of errors.</p><p><br></p><p style="text-align: center;"><img src="/GaTn0ke.gif"></p>


