---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import { HeadHrefLangs } from "astro-i18next/components";
import i18next from "i18next";
import { pwaInfo } from "virtual:pwa-info";
import "@fontsource-variable/inter";
import Cookie from "@components/cookie.astro";
export interface Props {
	title: string;
	lang: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/meta/opengraph.png", Astro.site).toString();

// replaced dynamically

const { title, lang = null } = Astro.props;

const makeTitle = title ? title + " | " + "Monolithon" : "Monolithon - ERPNext solutions";
---

<!DOCTYPE html>
<html lang={lang ?? i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/monolithon-fav.png" />
		<meta name="theme-color" content="#ffffff" />
		<HeadHrefLangs />

		<!-- Global CSS -->
		<link rel="stylesheet" href="/index.css" />

		<SEO
			title={makeTitle}
			description="ERPNext, Odoo, eCommerce, Shopify, Static Site Generator, astro.build, Queue Management System, Frappe, n8n, Mautic"
			canonical={canonicalURL}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: `Monolithon`,
					image: resolvedImageWithDomain,
				},
				image: {
					alt: "Monolithon Homepage Screenshot",
				},
			}}
		/>

		<!-- {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
		<!-- <script defer src="/src/pwa.ts"></script> -->
	</head>
	<Cookie />
	<body class="dark:bg-stone-95">
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://service.monolithon.com/ns.html?id=GTM-P4LTKG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<script>
			(function (w, d, t, u, n, a, m) {
				w["MauticTrackingObject"] = n;
				(w[n] =
					w[n] ||
					function () {
						(w[n].q = w[n].q || []).push(arguments);
					}),
					(a = d.createElement(t)),
					(m = d.getElementsByTagName(t)[0]);
				a.async = 1;
				a.src = u;
				m.parentNode.insertBefore(a, m);
			})(window, document, "script", "https://asset.monolithon.com/mtc.js", "mt");

			mt("send", "pageview");
		</script>

		<Navbar />
		<hr />
		<div>
			<slot />
		</div>
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
		<script type="text/javascript">
			/** This section is only needed once per page if manually copying **/
			if (typeof MauticSDKLoaded == "undefined") {
				var MauticSDKLoaded = true;
				var head = document.getElementsByTagName("head")[0];
				var script = document.createElement("script");
				script.type = "text/javascript";
				script.src = "https://asset.monolithon.com/media/js/mautic-form.js?vea43f1e4";
				script.onload = function () {
					MauticSDK.onLoad();
				};
				head.appendChild(script);
				var MauticDomain = "https://asset.monolithon.com";
				var MauticLang = {
					submittingMessage: "Please wait...",
				};
			} else if (typeof MauticSDK != "undefined") {
				MauticSDK.onLoad();
			}
		</script>
	</body>
</html>
